[user]
	name = yksz
	email = yksz.dev@gmail.com
[color]
	ui = auto
[core]
	autocrlf = input
	editor = vim
[fetch]
	prune = true
[push]
	default = simple
[alias]
	d  = diff -M
	dr = diff -M --color-words --word-diff-regex='\\w+|[^[:space:]]'
	dw = diff -M --word-diff
	lg = log --graph --all --oneline --decorate --tags --pretty='format:%C(yellow)%h %C(cyan)[%an] %C(reset)%s %C(blue)%ar%C(magenta)%d'
	mg = merge --no-ff
	sb = show-branch
	st = status
[http]
#	proxy = http://user:passwd@proxy.example.com:8080
[https]
#	proxy = https://user:passwd@proxy.example.com:8080
