[user]
	name = yksz
	email = user4git@gmail.com
[color]
	ui = auto
[push]
	default = simple
[fetch]
	prune = true
[core]
	autocrlf = input
	editor = vi
[alias]
	st = status
	mg = merge --no-ff
	sb = show-branch
	lg = log --graph --all --oneline --decorate --tags --pretty='format:%C(yellow)%h %C(cyan)[%an] %C(reset)%s %C(blue)%ar%C(magenta)%d'
